@import url("https://fonts.googleapis.com/css2?family=Caudex:wght@700&family=Darker+Grotesque&family=Gruppo&family=Qwigley&family=Caudex&family=Raleway:wght@700&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 5px;
}

button {
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Caudex";
  font-size: larger;
  font-weight: lighter;
}

.wrapper {
  align-items: center;
  background-image: url(../images/clay-banks-qW_k6x5OfRc-unsplash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
}
.header-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #000000d1;
  font-weight: 700;
}
.header-links {
  font-family: "Caudex", sans-serif;
  font-weight: 700;
  color: #000000d1;
}

.fa-opencart {
  color: #000000d1;
}

.fa-shopping-bag {
  color: #f5dbaa;
  text-shadow: 1px 2px 2px grey;
}
.logo-head {
  display: none;
}

.logo {
  margin-left: 18px;
  font-size: smaller;
}
a {
  color: black;
  display: inline-block;
  margin: 0px 8px;
}

.active,
a:hover {
  border-radius: 30px;
  padding: 8px 15px;
  border: 1px solid gray;
}

#header-text {
  font-size: larger;
}

.wealth {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  margin-left: 28px;
  font-size: xx-large;
  font-variant: small-caps;
  color: black;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 70%;
  height: 100vh;
}

.main-content h1 {
  font-family: "Gruppo";
}

#pitch {
  font-family: "Caudex";
  font-variant: none;
  font-size: small;
  margin-top: 2px;
}
#shopping {
  width: 28%;
  padding: 20px;
  margin: 50px 0vw;
  border: none;
  border-radius: 8px;
  font-family: "raleway";
  background-color: gray;
  color: wheat;
}

#shopping:hover {
  background-color: wheat;
  color: gray;
}
section {
  text-align: center;
}

section h2 {
  font-family: "Gruppo", cursive;
  font-weight: bolder;
  margin-top: 20px;
}
.content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 50px;
  background-color: #f5deb30f;
}

.cards {
  text-align: center;
}

.header-icon {
  margin-right: 15px;
}
.priceDetails {
  transform: translate(187%, -440%);
  position: absolute;
  visibility: hidden;
  font-size: 20px;
}

.priceDetails::before {
  content: "Price";
  text-decoration: underline;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.test {
  display: none;
}
.msg {
  background-color: seagreen;
  color: white;
  padding: 20px;
  width: 100vw;
  text-align: center;
  position: fixed;
  top: 0;
  display: block;
}

.msg2 {
  background-color: rgb(238, 37, 37);
  color: white;
  padding: 20px;
  width: 100vw;
  text-align: center;
  position: fixed;
  top: 0;
  display: block;
}

.prices {
  background-color: gray;
  color: black;
  width: 200px;
  padding: 10px;
  border: none;
  margin-top: 10px;
  font-family: "raleway";
  border-radius: 5px;
}

.prices:hover {
  background-color: whitesmoke;
  color: gray;
  border: 1px solid gray;
}

article {
  background-color: #f5deb30f;
  color: black;
  padding: 30px;
  width: 100%;
}

img {
  max-width: 100%;
}

footer {
  background-color: #000000d1;
  width: 100%;
  margin-top: 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
  justify-content: space-around;
  color: wheat;
  grid-row-gap: 10px;
}

#icons,
.cart {
  font-size: 25px;
  color: wheat;
}

@media (max-width: 950px) {
  .header-logo {
    margin-left: 10px;
  }

  .main-content {
    font-size: 16px;
  }
  .content {
    grid-template-columns: auto auto;
  }

  .footer-grid {
    grid-template-columns: auto;
    justify-content: center;
  }
}

@media (max-width: 740px) {
  .header-links {
    margin: 0px;
    top: 75px;
    right: 100%;
    width: 50%;
    text-align: center;
    background-color: #f1ece3;
    height: 100vh;
    position: fixed;
    transition: right 0.2s ease-in-out;
    box-shadow: 1px 1px 3px grey;
    border-radius: 5px;
  }

  a {
    display: block;
    padding: 20px 0px;
    color: black;
    font-size: 18px;
    text-align: center;
    margin: 0px;
  }
  .header-links a:first-of-type {
    margin-top: 60px;
  }
  .active,
  a:hover {
    background-color: transparent;
    color: gray;
    border-radius: 0px;
    border: 1px solid white;
    border-left: 5px solid gray;
  }

  .logo-head {
    transform: translateX(-3em);
    position: absolute;
    display: inline-block;
  }
  .cart {
    margin-right: 5px;
  }
  #icons {
    font-size: 25px;
    color: gray;
  }
  .content {
    grid-template-columns: auto;
  }
  #shopping {
    padding: 15px 10px;
    margin: 30px 0vw;
  }

  .show {
    display: block;
  }
  .wealth {
    display: block;

    margin-left: 18px;
  }
}

@media (max-width: 540px) {
  img {
    width: 65%;
  }

  .cart {
    margin-right: 0px;
    font-size: small;
  }

  .header-logo {
    margin: 0px;
  }
  #icons {
    font-size: small;
  }
  #items {
    width: 90px;
    padding: 5px;
  }

  .priceDetails {
    transform: translate(120%, -250%);
  }

  #pitch {
    font-size: x-small;
    margin-top: 4px;
  }

  .main-content {
    font-size: 12px;
  }
  #header-text {
    font-size: small;
  }
}
