header {
  background-color: gray;
  padding: 20px;
}

.wrapper {
  background: none;
}
form {
  width: 65%;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #a26d6d;
}

.card {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  border: 1px solid #a26d6d;
  padding: 20px;
  border-radius: 5px;
}

.card > div {
  margin-top: 30px;
  flex-basis: 30%;
}

div p {
  margin: 4px;
}
img {
  width: 190px;
}

#total {
  text-align: end;
  font-weight: bolder;
  font-size: xx-large;
  margin-right: 10px;
}

.btns {
  text-align: center;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

#shopRedirect {
  width: 28%;
  padding: 20px;
  margin: 40px 10px;
  border: none;
  border-radius: 8px;
  font-family: "raleway";
  background-color: gray;
  color: wheat;
}

#checkout {
  width: 28%;
  padding: 20px;
  margin: 40px 10px;
  border: none;
  border-radius: 8px;
  font-family: "raleway";
  background-color: lightseagreen;
  color: wheat;
}

#increase,
#decrease {
  background-color: white;
  width: 30px;
  outline: none;
  border: 1px solid #a26d6d;
  padding: 5px;
  border-radius: 7px;
  margin: 3px;
  font-weight: bolder;
}

#remove {
  width: 80px;
  padding: 10px;
  background-color: white;
  color: brown;
  outline: none;
  border: 1px solid #a26d6d;
  border-radius: 5px;
}

#remove:hover {
  background-color: brown;
  color: white;
}

@media (max-width: 700px) {
  .card {
    flex-direction: column;
  }

  .card span {
    display: none;
  }

  header {
    justify-content: center;
  }
}
