@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Darker+Grotesque&family=Gruppo&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 5px;
}

button {
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Caudex";
  font-size: larger;
}

.wrapper {
  align-items: center;
  background-image: url(african-american-man-paying-with-credit-card-online-while-making-orders-via-mobile-internet-making-transaction-using-mobile-bank-application.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  width: 100vw;
}
.header-logo {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 70px;
  margin-top: 5px;
  color: black;
  font-family: "Gruppo", cursive;
}

.header-links {
  float: right;
  padding: 15px;
  margin-right: 375px;
  width: 28%;
  font-weight: 600;
}

.logo {
  margin-left: 18px;
}
a {
  color: inherit;
  display: inline-block;
  margin: 0px 8px;
}

.active,
a:hover {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 8px 15px;
}

#icons {
  display: none;
  /* margin-top: 20px; */
  margin-right: 5px;
}

main {
  display: flex;
  flex-direction: column;
  margin: 70px 120px;
  font-size: xx-large;
  font-variant: small-caps;
  color: black;
  justify-content: center;
  flex-wrap: wrap;
}

.main-content h1 {
  text-shadow: 2px 3px 3px gray;
  font-family: "Gruppo", cursive;
}
#shopping {
  width: 250px;
  padding: 20px;
  margin: 70px auto;
  border: none;
  background-color: #ff7a00;
  color: white;
}
section {
  text-align: center;
}

section h2 {
  font-family: "Gruppo", cursive;
  font-weight: bolder;
  margin-top: 20px;
}
.content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.cards {
  text-align: center;
}

.header-icon {
  float: right;
  margin-right: 45px;
  margin-top: 20px;
}
.priceDetails {
  position: relative;
  top: -190px;
  visibility: hidden;
  font-size: 20px;
}

.priceDetails::before {
  content: "Price";
  text-decoration: underline;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

img:hover {
  opacity: 0.2;
}
.prices {
  background-color: #ff7a00;
  color: black;
  width: 200px;
  padding: 10px;
  border: none;
  margin-top: 10px;
}

article {
  background-color: whitesmoke;
  color: black;
  padding: 30px;
  width: 100%;
}

img {
  max-width: 100%;
}

footer {
  background-color: black;
  width: 100%;
  margin-top: 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
  justify-content: space-around;
  color: whitesmoke;
  grid-row-gap: 10px;
}

@media (max-width: 850px) {
  .header-logo {
    margin-left: 10px;
  }

  .main-content {
    font-size: 16px;
    margin-top: 70px;
  }

main {
margin-top:200px
}

  .content {
    grid-template-columns: auto auto;
  }

  .footer-grid {
    grid-template-columns: auto;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .header-links {
    display: none;
    margin: 0px;
    margin-top: 15px;
    width: 100vw;
    text-align: center;
    background-color: white;
    height: 100vh;
    position: fixed;
  }

  main {
    margin: 282px -50px;
  }

  a {
    display: block;
    padding: 20px;
    color: black;
  }

  .active,
  a:hover {
    background-color: transparent;
    color: #ff7a00;
  }
  #icons {
    display: block;
    float: right;
  }
  .icon {
    display: block;
  }

  .cart {
    margin-right: 20px;
  }
  .content {
    grid-template-columns: auto;
  }
  #shopping {
    width: 150px;
    padding: 15px;
  }
  .main-content {
    font-size: 16px;
    margin-top: -40px;
    margin-left: 80px;
  }
}
@media (max-width: 400px) {
  img {
    width: 50%;
  }

  #items {
    width: 90px;
    padding: 5px;
  }

  main {
    margin: 274px 20px;
  }
  #shopping {
    width: 90px;
    padding: 10px 5px;
    margin: 180px auto;
  }

  .main-content {
    font-size: 12px;
    margin-left: 16px;
  }

  .header-logo {
    margin-left: 0px;
  }
  .header-icon {
    margin-right: 10px;
  }
}
